*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-size: 1.8rem
}
h2{
    font-size: 1.5rem;
}
section{
    margin-bottom: 4rem;
}
:root{
    --dropbox-blue: #3BA0F3 
}
hr{
    background-color: lightgrey;
    color: grey;
    height: 0.1rem;
    width: 25%;
    border: 0px;
}
/* Header */
header{
    height: 5rem;
}
.header-fixed{
    height: 5rem;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    z-index: 10;
}
.header-log{
    position: absolute;
    /* width: calc(100% - 20px); */
    width: 100%;
    align-items: center;
    display: flex;
    height: 100%;
}
.header-log-trademark{
    /* background-color: rgb(82, 233, 82); */
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    align-items: center;
    margin: 0 4rem;
}
.header-log-login{
    /* background-color: rgb(82, 233, 82); */
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    position: absolute;
    right: 0;
    margin: 0 4rem;
    align-items: center;
}
.header-log-login a{
    text-decoration: none;
    color: black;
}
.header-log-login a:nth-child(2){
    color: white;
    background-color: var(--dropbox-blue);
    padding: 0.5rem;
}

nav{
    height: 100%;
}
.header-nav-div{
    width:75%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: center;
}
.header-nav-div-infosito a, .header-nav-div-contact a{
    text-decoration: none;
    color: black;
}
.header-nav-div-infosito{
    display: flex;
    gap: 2rem;
}
.header-nav-div-contact{
    display: flex;
    gap: 2rem;
}
/* Header */

/* Main */
main{
}
.main-forcontainer{
    width: 100%;
}
.main-container{
    width: 100%;
    background-color: rgb(40, 153, 228);
    padding-top: 5rem;
    height: calc(100% - 200px);
}
.presentazione{
    height: 350px; /*550px*/
    width: 65%;
    background-color: rgb(40, 153, 228);
    margin: auto;
    margin-bottom: 25rem; /*13rem*/

}
.presentazione-flexcontainer{
    display: flex;
    margin: 2rem 0;
    position: relative;
}
.cont-image{
    width: 66%;
}
.presentazione-flexcontainer img{
    /* height: 350px; rompe la modifica alla width*/
    object-fit: cover;
    opacity: 1;
    width: 100%;
    /* box-shadow: 5px 5px 30px; */
}
.presentazione-flexcontainer-testo{
    width: 33%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}
.presentazione-flexcontainer-testo a{
    text-decoration: none;
    color: black;
}
.arrow{
    font-size: 3rem;
    color: black;
}
.imgout{
    position: relative;
    width: 75%;
}
div.opacity-0{
    opacity: 0.5;
}
.out{
    position: absolute;
}

.piano{
    width: 50%;
    /* background-color: brown; */
    margin: auto;
}
.piano-bottoni{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    display: flex;
    gap: 1.3rem;
    width: 20%;
}

div.panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 600px; */
    /* align-items: center; */
    margin-bottom: 6rem;
    gap: 3rem;
}

.panel div{
    /* width: 33%; */
    /* height: 100%; */
    gap: 20px;
    /* background-color: aqua; */
    
}
.panel-prezzi{
    width: calc((100% /3) - 2rem);
    /* border: 2px solid red; */
    border: 0.1rem solid lightgrey;
}
div.panel div h4{
    text-align: center;
    /* border: 0.1rem solid lightgrey; */
    margin-bottom: 2.5rem;
}
.panel-prezzi-testo{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 2rem;
}
.panel-prezzi-testo:last-child{
    border-bottom: 2px solid grey;
}
.highlights{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 2rem;
}
.highlights .no-icon::before{
    content: "";
}
.highlights p::before{
    content: "$ ";
}
.button-freetrial{
    padding: 0.7rem 1rem;
    background-color: var(--dropbox-blue);
    color: white;
    text-decoration: none;
}

.team{
    border: 0.1rem solid lightgrey;
}
div h4{
    text-align: center;
    border-bottom: 0.1rem solid lightgrey;
    padding: 1rem 0;
}
.piano-azienda{
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    padding: 1rem 1.3rem;
}
.piano-azienda-colonna{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div.piano-azienda a{
    height: 100%;
    color: white;
    padding: 0.7rem 1rem;
    background-color: var(--dropbox-blue);
    text-decoration: none;
}

.container{
    width: 50%;
    margin: auto;
    display: flex;
    gap: 10px;
}
.div-missing{
    width: 50%;
    margin: auto;
    padding-bottom: 2rem;
}
/* .container div{ 
    width: 66%;
}*/

input[type="checkbox"]{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
#tick{
    border: 3px solid var(--dropbox-blue);
}

.fix-border{
    border: 0;
    text-align: left;
}
.container div.flex-column{
    /* width: 33%; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.flex-column a{
    text-decoration: none;
    color: white;
    background-color: blue;
    border: 2px solid red;
}
.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-column img{
    width: 100%;
}
.partner{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.partner img{
    width: calc( 66% - 2rem);
    object-fit: fill;
}

.partner-divdestro p{
    padding: 1rem 0rem 3rem 0rem;
}

.top24{
    position: relative;
    top: 1.5rem;
}
#trova-partner{
    padding: 0.7rem 1rem;
    background-color: var(--dropbox-blue);
    border: 0;
    border: 1px solid grey;
    color: grey;
    background-color: transparent;
    text-decoration: none;
}

.column-container{
    flex-wrap: wrap;
    justify-content: center;
    /* gap: calc(100% - 5%); */
    gap: 3rem;
}
.container-column{
    width: 30%;
}
.center{
    width: 50%;
    margin: auto;
    padding-bottom: 5rem;
}
.center- div{
    width: 50%;
    padding: 8rem 0;
}
.center- div h2{
    width: 50%;
    margin-bottom: 3rem;
}

.quadrati{
    width: 100%;
    /* background-color: green; */
    height: 500px;
    display: flex;
}
.quadrati-immagini{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    /* width: calc(100% / 3);
    height: 100%;
    background-color: aqua; */
}

.quadrati-immagini div{
    width: 50%;
    height: 50%;
    display: flex; /*da chiedere perché non funziona senza flex*/
}
.quadrati-immagini img{
    display: block;
    width: 100%;
    padding: 6rem;    /* transform: scale(0.5); */
    margin: auto;
    filter: grayscale(1) invert(1);
}
.quadrati-immagini div:nth-child(1){
    background-color: greenyellow;
}
.quadrati-immagini div:nth-child(2){
    background-color: brown;
}
.quadrati-immagini div:nth-child(3){
    background-color: lightblue;
}
.quadrati-immagini div:nth-child(4){
    background-color: lightcoral;
}

.quadrati-centro{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 4rem 2rem;
}
.quadrati-centro img{
    width: 30%;
}
.quadrati-centro hr{
    padding: 0.1rem;
    margin: 3rem 0;
}

.quadrati-immaginidestra{
    width: calc(100% / 3);
    height: 100%;
    background-color: yellow;
}
.justify-content-between{
    justify-content: space-between;
}
.centro-azienda{ /*sono mezzo fuso per questo sto usando duemila classi uguali fra loro*/
    width: 50%;
    margin: auto;
    padding-bottom: 5rem;
}
.bordo{
    padding: 0.75rem 1.5rem;
    background-color: white;
    text-decoration: none;
}

.marg-bottom0{
    margin-bottom: 0;
}
.dropbox-business{
    padding-top: 5rem;
    background-color: lightskyblue;
}
.w50{
    width: 50%;
}
.faq-h2{
    padding-bottom: 2rem;
}
.faq{
    padding: 1rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.pad-top{
    padding-top: 3rem;
}

/* non riesco a farlo displayare per bene*/
.dspnone{
    display: none;
}
.dspblock:hover{
    display: block;
}
.dspnone:hover{
    display: block;
}

footer{
    background-color: black;
    /* width: 100%; */

}
.footer-container{
    width: 100%;
    margin: auto;
    height: 22rem;
    background-color: black;
    color: white;
}
.footer-container-column{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    height: 100%;
}
.footer-column{
    display: flex;
    flex-direction: column;
    /* width: calc(100% / 5); */
    justify-content: center;
    gap: 8px;
}
footer hr{
    margin-bottom: 2rem;
    width: 5%;
}

.footer-column h3{
    padding-bottom: 1rem;
}

.bgfix{
    background-color: black;
}
.width65{
    width: 65%;
    margin: auto;
}
.pad-bot2rem{
    padding-bottom: 2rem;
}
.lingua{
    position: relative;
    border-spacing: 32px 32px;
    /* border-top: 1px solid grey; */
}

.div-centersistemato{
    margin: auto;
    padding-bottom: 2rem;
}
